/* sidebar nav bg color { background: #334052; }*/

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 180px repeat(2, 1fr); 
  grid-template-rows: repeat(65 50px 100px 1fr 1fr);
  grid-template-areas: 
      "sidebar-nav  header    header"
      "sidebar-nav  topnav1   topnav2"
      "sidebar-nav  nav       nav"
      "sidebar-nav  graph1    graph2"
      "sidebar-nav  table     social"
}

/*Left side vertical navigation*/

.profile {
 font-size: 8pt;
}

#photo {
 border-radius: 50%;
 height: 100px;
 width: 100px;
}

.sidebar-nav {
  background: #334052;
  color: #fff;
  grid-area: sidebar-nav;
  padding: 20px;
}

.titles {
  font-size: 8pt;
}

.side-lists {  
  font-size: 10pt;
  list-style-type: none;
  padding: 0px;
}

.side-icons {
  align-content: center;
  margin-right: 10px;
}

.sidebar-line {
  border-bottom: .5px solid black;
}

/*header content*/
header {
  grid-area: header;
  border-bottom: 1px solid lightgrey;
}

#left-arrow {
  color: #00a4ff;
  margin: 20px 1px 10px 20px;
}

#bars {
  color: #787879;
  margin-right: 10px;

}
#search-icon {
   color: #cdccd2;
   margin: 20px 5px 10px 20px;
}
#input-search {
  border: none;
  width: 80%;
  margin-right: 20px;
}

#user-plus {
  color: #cdccd2;
  margin: 0px 10px 0px 0px;
}

#clip-list {
  color: #cdccd2;
  margin: 0px 20px 0px 10px;
}

#th {
  color: #cdccd2;
}

/*edit-section*/
.edit-section {
  display: grid;
  grid-area: topnav1;
  padding-left: 50px;
}

.service-rep {
  color: #787879;
  margin-bottom: 0px;
}

.sanfran {
  color: #cdccd2;
  margin-top: 0px;
}

.preview {
  color: #00a4ff;
}

#icon-san-fran {
  color: #787879;
  margin: 0px 5px 0px 0px;
}

.edit-btns {
  display: inline-flex;
  grid-area: topnav2;
  float: right;
  justify-content: end;
  margin-top: 40px;
  height: 30px;
  margin-right: 10px;
}

.open {
  color: #787879;
  border-radius: 30px;
  padding: 5px;
  margin-right: 10px;
}

#open-dot {
  color: #74cd00;
  margin-right: 5px;
  font-size: 8pt;
}

.icon-btns{
  border-radius: 30px;
  margin: 0px 5px 0px 5px;
 }

 /*Horizontal nav*/
 .horizontal-nav {
  display: inline-flex;
  grid-area: nav;
  border-bottom: 1px solid lightgrey;
  height: 70px;
 }

 .nav {
  margin: 30px 10px 10px 0px;
  padding-left: 50px;
  color: #787879;
 }







