/* sidebar nav bg color { background: #334052; }*/

*{
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

.container {
  border: 10px solid yellow;
  display: grid;
  height: 900px;
  grid-gap: 10px;
  grid-template-columns: 180px repeat(2, 1fr); 
  grid-template-rows: 50px repeat(3, auto);
  grid-template-areas: 
      "sidebar-nav header   header"
      "sidebar-nav top-nav  top-nav"
      "sidebar-nav graph1   graph2"
      "sidebar-nav table    social"
}

/*Left side vertical navigation*/
#photo {
 width: 100px;
 height: 100px;
 border-radius: 50%;
}
.profile{
 font-size: 8pt;
 border-bottom: .5px solid black;
}

.sidebar-nav {
  grid-area: sidebar-nav;
  color: #fff;
  background: #334052;
}

.titles {
  font-size: 8pt;
}

.side-lists {  
  list-style-type: none;
  font-size: 10pt;
}

.side-icons{
  align-content: center;
  margin-right: 10px;
}

.side-main-nav {
  border-bottom: .5px solid black;
}
 
.side-admin-nav {
  border-bottom: .5px solid black
 }

header {
  grid-area: header;
  background: #BADA55;
}

