/* sidebar nav bg color { background: #334052; }*/

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 3fr; 
  grid-template-areas: 
      "sidebar-nav  header    header"
      "sidebar-nav  topnav1   topnav2"
      "sidebar-nav  nav       nav"
      "sidebar-nav  graph     graph"
      "sidebar-nav  table     social"
}

/*Left side vertical navigation*/
li {
  padding-bottom: 10px;
  padding-top: 10px;
}

li:hover {
  background: #313a4b;
  border-left: 1px solid #00a4ff;
}

.profile {
 font-size: 8pt;
 text-align: center;
}

#photo {
 border-radius: 50%;
 height: 100px;
 width: 100px;
}

.fa-angle-down {
  padding-left: 10px;
}

.sidebar-nav {
  background: #334052;
  color: #cecece;
  grid-area: sidebar-nav;
}

.titles {
  color: #536073;
  font-size: 10pt;
}

.side-lists {  
  font-size: 10pt;
  list-style-type: none;
  padding: 0px;
}

.side-icons {
  align-content: center;
  font-size: 12pt;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-line {
  border-bottom: .5px solid black;
}

.box1 {
  color: #ffdb00;
  margin-right: 5px;
}

.box2 {
  color: #25b2f9;
  margin-right: 5px;
}

.box3 {
  color: #ed135d;
  margin-right: 5px;
}

.box4 {
  color: #00ae8a;
  margin-right: 5px;
}

/* -- HEADER CONTENT -- */

header {
  border-bottom: 1px solid lightgrey;
  grid-area: header;
  padding-top: 10px;
}

#left-arrow {
  color: #00a4ff;
  margin: 20px 1px 10px 20px;
}

#bars {
  color: #787879;
  margin-right: 10px;

}
#search-icon {
   color: #cdccd2;
   margin: 20px 5px 10px 20px;
}
#input-search {
  border: none;
  margin-right: 20px;
  width: 79%;
}

#user-plus {
  color: #cdccd2;
  margin: 10px;
  padding: 10px;
}

#user-plus:hover {
  background-color: #00a4ff;
  color: #fff; 
}

#clip-list {
  color: #cdccd2;
  padding: 10px;
}

#th {
  color: #cdccd2;
  padding: 10px;
}

/* -- EDIT SECTION -- */

.edit-section {
  display: grid;
  grid-area: topnav1;
  padding-left: 32px;
}

.service-rep {
  color: #787879;
  margin-bottom: 0px;
}

.sanfran {
  color: #cdccd2;
  margin-left: 2px;
  margin-top: 3px;
}

.preview {
  color: #00a4ff;
}

#icon-san-fran {
  color: #787879;
  margin: 0px 5px 0px 0px;
}

.edit-btns {
  display: inline-flex;
  float: right;
  grid-area: topnav2;
  height: 30px;
  justify-content: end;
  margin-right: 10px;
  margin-top: 40px;
}

.open {
  border-radius: 30px;
  color: #787879;
  margin-right: 10px;
  padding: 5px;
}

#open-dot {
  color: #74cd00;
  font-size: 8pt;
  margin-right: 5px;
}

.icon-btns{
  border-radius: 30px;
  color: #787879;
  margin: 0px 5px 0px 5px;
 }

 /* -- HORIZONTAL NAV -- */

 .horizontal-nav {
  display: flex;
  grid-area: nav;
 }

 .nav {
  color: #787879;
  margin: 10px 10px 0px 10px;
  padding: 0px 25px 25px 25px;
 }

 .nav:hover {
  border-bottom: 2px solid #00a4ff;
 }

 /* -- GRAPHS -- */

.graphs {
  background: #ecf2f6;
  grid-column: span 2;
}

.circle-graph {
  display: inline-flex;
  margin-left: 40px;
  margin-top: 40px;
  max-width: 45%;
}

.circle-bg {
  fill: none;
  stroke-width: 3.8;
  stroke: #eee;
}

.circle {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke-linecap: round;
  stroke-width: 2.8;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.green .circle {
  stroke: #03b9b3;
}

.circular-chart.blue .circle {
  stroke: #00a5fd;
}

.circular-chart.purple .circle {
  stroke: #ba5db0;
}

.stats {
  fill: #65717f;
  font-size: 0.5em;
  text-anchor: middle;
}

.circle-words {
  fill: #65717f;
  font-size: 0.2em;
  text-anchor: middle;
}

.bar-graph {
  display: inline; 
  margin-left: 80px;
  margin-top:;
}

.image {
  height: 80%;
}

/* -- GRAPH BUTTONS -- */

.graph-btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.total-btn {
  border-radius: 30px;
  color: #65717f;
  padding: 7px;
}
.app-btn {
  border-radius: 30px; 
  color: #65717f;
  padding: 7px;
}

/* -- TABLE --*/

.table-container {
  background: #ecf2f6;
  grid-area: table;
}

thead {
  background: #6a7e97;
  text-align: left;
}

.table {
  background-color: #fff;
  margin-bottom: 500px;
  margin-left: 40px;
  margin-top: 40px;
  width: 90%;
}

th, td {
  border-bottom: 1px solid grey;
  padding: 20px;
}

.col-title {
  color: #fff;
}

.title-button {
  background-color: #7b8caa;
  border:none;
  color: #fff;
  margin-left: 55px;
  text-transform: uppercase;
}

#edit-title {
  border: none;
  color: #fff;
  padding: 10px;
}

.col1 {
  color: #6a7e97;
  font-weight: bold;
}

.col2 {
  color: #787879;
}

.approved {
  border: none;
}

.isaac {
 border-radius: 50%;
 display: inline-flex;
 height: 95px;
 width: 100px;
}

.name {
  float: right;
  margin-right: 300px;
}

/* -- Social -- */

.social-channels {
  background: #ecf2f6;
}

.social-buttons {
  margin-bottom: 15px;
  margin-left: 10px;
  padding: 15px;
  width: 70%;
}

.social-action {
  font-weight: bold;
  justify-content: center;
  margin: 0px;
}

.fb {
  background: #4a6ec2;
  color: #fff;
  display: flex;
  margin-top: 40px;
}

.twitter {
  background: #00a8ef;
  color: #fff;
  display: flex;
}

.lin {
  background: #0482bc;
  color: #fff;
  display: flex;
}

.fa-facebook-f {
  font-size: 15pt;
  margin-right: 80px;
}

.fa-twitter {
  font-size: 15pt;
  margin-right: 80px;

}

.fa-linkedin-in {
  font-size: 15pt;
  margin-right: 80px;
}

.link-to-job {
  display: flex; 
}

/* -- INPUT FIELDS OF SOCIAL -- */

.box {
  margin: 15px 130px 0px 0px;
}

.fa-globe-europe,
.fa-elementor,
.fa-paper-plane {
  color: #66707a;
  font-size: 17pt;
  margin-left: 10px;
  margin-right: 10px;
}

.text {
  color: #66707a;
  font-size: 15pt;
  font-weight: bold;
  font-wieght: bold;
  margin: 0px;
}

.lorem {
  color: #787879;
  margin-left: 10px;
  width: 73%;
}

.input-link {
  margin-left: 10px;
  width: 56%;
}

.input-field {
  border-bottom: 1px solid grey;
  display: flex;
  padding-bottom: 20px;
}

.copy {
  background: #47b6c1;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

/*-- MEDIA QUERIES --*/

@media only screen and (max-width: 800px) {
  #input-search {
    width: 50%;
  }

  .horizontal-nav {
    display: block;
    grid-area: nav;
    margin: 5px;
 }

  .edit-btns {
    grid-area: topnav1;
    margin-top: 120px;
    margin-left: 33px;
    justify-content: start;
  }

  .image {
    height: 50%;
  }

  .graph-btns {
    margin: 10px;
    justify-content: start;
  }

  .table {
    background-color: #fff;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;

  }

   .social-channels {
    background: #ecf2f6;
    grid-area: table;
    margin-top: 830px;
  }
  .side-icons {
    font-size: 7pt;
  }

  .side-lists {
    font-size: 5pt;
  }

}






